version: '3'
services:
  jenkins:
    build: . 
    container_name: zadanie
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    restart: on-failure

volumes:
  jenkins_home: